@font-face {
  font-family: "Nova";
  src: url("../../public/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Condensed\ Semibold\ TheFontsMaster.com.woff");
  
}
@font-face {
  font-family: "NovaM";
  src: url("../../public/fonts/FontsFree-Net-pr2.ttf");
  
}
@font-face {
  font-family: "Museo";
  src: url("../../public/fonts/Museo_Slab_500.otf");
 
}

.w-150 {
  width: 37.5rem;
}

.max-w-5xl {
  max-width: 64rem;
}

.max-w-full {
  max-width: 100%;
}

.w-52 {
  width: 13rem;
}

.w-64 {
  width: 16rem;
}

.w-84 {
  width: 21rem;
}

.w-200 {
  width: 50rem;
}

.min-h-33 {
  min-height: 8.25rem;
}

.h-15 {
  height: 3.75rem;
}

.h-full {
  height: 100%;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.top-4 {
  top: 1rem;
}

.top-8 {
  top: 2rem;
}

.top-12 {
  top: 3rem;
}

.top-14 {
  top: 3.5rem;
}

.top-20 {
  top: 5rem;
}

.bottom-16 {
  bottom: 4rem;
}

.left-4 {
  left: 1rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-28 {
  padding-left: 7rem;
}

.border-4 {
  border-width: 4px !important;
}

.border-b-thick-brand-green {
  border-bottom: 0.3125rem solid $brand-green;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.translate-x-16 {
  transform: translateX(4rem);
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}

.bg-brand-orange {
  background: $brand-orange;
}

.bg-brand-green {
  background: $brand-green;
}

.box-shadow-r-long-brand-blue {
  box-shadow: 25vw 0 $brand-blue;
}

.box-shadow-r-long-brand-orange {
  box-shadow: 25vw 0 $brand-orange;
}

.box-shadow-r-long-brand-green {
  box-shadow: 25vw 0 $brand-green;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.swiper-pagination {
  position: absolute !important;
  width: 37.5rem !important;
  left: auto !important;
  right: 6rem !important;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  background: $brand-gray;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: $brand-green;
}

.swiper-container-vertical {
  display: flex;

  .swiper-pagination {
    position: static !important;
    width: auto !important;
    max-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: none !important;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: $brand-green;
    color: #fff;
  }

  .swiper-pagination-bullet {
    display: flex !important;
    align-items: center;
    width: auto !important;
    height: auto !important;
    padding: 0.5rem 1rem;
    margin: 0 !important;
    border-radius: 0;
    background: $brand-green;
    text-align: left;

    & > .fas {
      margin-left: 0.25rem;
    }
  }

  .swiper-pagination-bullet-active {
    background: $brand-green-light !important;
    font-weight: 700;
  }

  .swiper-container-vertical {
    .swiper-pagination {
      background: $brand-green-light;
    }

    .swiper-pagination-bullet {
      background: transparent;
    }

    .swiper-pagination-bullet-active {
      background: rgba(255, 255, 255, 0.2) !important;
      font-weight: 400;
    }

    .swiper-slide {
      min-height: calc(100vh - 6rem);
    }
  }
}

.vertical-slider-nav-button {
  position: absolute;
  left: 0.75rem;
  z-index: 1;

  &--prev {
    top: 1.25rem;
  }

  &--next {
    bottom: 1.25rem;
  }
}

.slider-content {
  p {
    margin-bottom: 1.25rem;
  }

  ul {
    margin-left: 2rem;
  }

  li {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $brand-gray;
    margin-bottom: 0.5rem;
  }
}

.content {
  p,
  li {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 768px) {
  .md-w-4-5 {
    width: 80%;
  }
}

.ais-SearchBox {
  & > .search-suggestions {
    display: none;
  }

  &:hover {
    & > .search-suggestions {
      display: block;
    }
  }
}

.ais-SearchBox-form {
  display: flex;
  position: relative;
  background-color: #fff;
}

.ais-SearchBox-input {
  width: calc(100% - 10px);
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.ais-SearchBox-submit {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.ais-SearchBox-submitIcon {
  width: 1rem;
  height: 1rem;
}

.ais-MenuSelect-select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  grid-area: select;

  &::-ms-expand {
    display: none;
  }
}

.ais-MenuSelect {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  width: 100%;
  min-height: 2.5rem;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;

  &::after {
    content: '';
    width: 0.8em;
    height: 0.5em;
    grid-area: select;
    justify-self: end;
    background-color: #777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

.ais-InfiniteHits {
  text-align: center;
}

.ais-InfiniteHits-list {
  text-align: left;
}

.ais-InfiniteHits-item {
  margin-bottom: 2.5rem;
}

.ais-InfiniteHits-loadMore {
  margin: auto;
  padding: 0.5rem 1rem;
  border: 1px solid $brand-navy;
  color: $brand-navy;

  &--disabled {
    display: none;
  }
}

.rmsc .dropdown-container {
  border: none !important;
  border-radius: 0 !important;
}

.MuiAccordionSummary-expandIcon.Mui-expanded {
  transform: rotate(90deg) !important;
}
