$brand-blue: #4579a1;
$brand-blue-2: #325976;
$brand-navy: #1b3c53;
$brand-orange: #ee8f25;
$brand-orange-2: #714109;
$brand-green: #03a399;
$brand-green-light: #35b5ad;
$brand-green-dark: '#045d59';
$brand-gray: #e5e5e5;
$brand-gray-pale: #f3f3f3;
$brand-purple: #914a81;
$brand-purple-2: #793e69;
$brand-purple-dark: #1f0812;
$brand-teal: #05a29b;
$brand-teal-2: #045d59;