.navigation {
  @apply flex items-end;

  & > ul {
    @apply flex flex-wrap justify-center;

    & > li {
      @apply relative mb-2;

      & a {
        @apply block pt-1 px-4 pb-3;

        &:hover,
        &:focus,
        &.active {
          @apply bg-brand-blue text-white;
        }
      }

      &:hover,
      &:focus-within {
        & > ul {
          @apply inline-block;
        }
      }

      @screen lg {
        &:last-child {
          @apply mr-0 mb-0;
        }
      }
    }

    /* Nested ul / Drop Menu */
    & ul {
      @apply hidden absolute left-0 z-50 p-2 border-solid border-t-0 border-brand-blue mt-1 bg-white bg-clip-padding;

      top: 100%;
      border-right: 0.5rem solid rgba(255, 255, 255, 0.7);
      border-bottom: 0.5rem solid rgba(255, 255, 255, 0.7);
      border-left: 0.5rem solid rgba(255, 255, 255, 0.7);
      box-shadow: 0 -0.25rem 0 #4579a1; 

      & > li {
        font-size: 1.0625rem;

        & > a {
          @apply p-2 whitespace-nowrap;
        }
      }
    }
  }
}
